PORT=4000
DATABASE_URL=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
NODE_ENV=development
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=
BETTER_AUTH_SESSION_TOKEN_EXPIRES_IN=
ADMIN_EMAIL=
ADMIN_PASSWORD=
EMAIL_SENDER_SMTP_HOST=
EMAIL_SENDER_SMTP_PORT=
EMAIL_SENDER_SMTP_USER=
EMAIL_SENDER_SMTP_PASS=
EMAIL_SENDER_SMTP_FROM=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
FRONTEND_URL=
